<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易买网 - 首页</title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="scripts/function.js"></script>
</head>
<body>
<input type="hidden" name="type_id" th:value= ${typeId} />
<div class="product-list">
	<h2>全部商品</h2>
	<div class="pager">
		<ul class="clearfix">
			<li><a href="#">上一页</a></li>
			<li class="current">1</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">下一页</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<ul class="product clearfix">

	</ul>
	<div class="clear"></div>
	<div class="pager">
		<ul class="clearfix">
			<li><a href="#">上一页</a></li>
			<li class="current">1</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">下一页</a></li>
		</ul>
	</div>
</div>
<script src="/scripts/jquery-1.11.3.min.js"></script>

<script src="/scripts/mr-public.js"></script>
<script src="/scripts/easybuyjs/good.js"></script>
</body>
</html>
